eigen/.idea/*
eigen/cmake-build-debug/*
eigen/cmake-build-release/*
eigen/build/*
eigen/CMakeFiles/*
eigen/include/*
eigen/share/*
OpenBLAS/.idea/*
OpenBLAS/cmake-build-debug/*
OpenBLAS/cmake-build-release/*
.idea/*
portfolio-optimizer/.idea/*
portfolio-optimizer/cmake-build-debug/*
portfolio-optimizer/cmake-build-release/*
.vscode/*
portfolio-optimizer/data