eigen/.idea/*
eigen/cmake-build-debug/*
eigen/cmake-build-release/*
eigen/build/*
eigen/CMakeFiles/*
eigen/include/*
eigen/share/*
OpenBLAS/.idea/*
OpenBLAS/cmake-build-debug/*
OpenBLAS/cmake-build-release/*
.idea/*
portfolio-optimizer/.idea/*
portfolio-optimizer/build/*
portfolio-optimizer/cmake-build-debug/*
portfolio-optimizer/cmake-build-release/*
portfolio-optimizer/bin
portfolio-optimizer/lib
.vscode/*
portfolio-optimizer/data
alglib/cmake-build-debug/*
alglib/cmake-build-release/*
alglib/build/*
alglib/bin/*
alglib/lib/*
alglib/.idea/*
*.lo
*.log
*.la
*.Plo
*.o
*.so*
*.so
*.Po
*.lai
*.pc
Makefile
stamp*
*.status
clp/CoinUtils/doxydoc/doxygen.conf
clp/coin_subdirs.txt
clp/libtool
clp/bin/clp
clp/Clp/doxydoc/doxygen.conf
clp/Clp/src/clp
clp/Clp/src/config_clp.h
clp/Clp/src/config.h
clp/Clp/src/.libs/clp
clp/CoinUtils/src/config_coinutils.h
clp/CoinUtils/src/config.h
clp/doxydoc/doxygen.conf
.vs/*
